*.pyc
.doit.db
.settings
.project
.pydevproject
.idea
*.log.json
*.pot
*.mo
.babelcompiled
src/ekklesia_voting.egg-info/
.cache/
.eggs/
src/ekklesia_voting/config.py
nix/*_frozen.txt
config*.yml
!config.example.yml
testconfig*.yml
.pytest_cache
result
.mypy_cache/
.coverage
htmlcov/
mypy_stubs
pyenv
dist
serve_app
src/ekklesia_voting/static/css/*.css
.devenv
.direnv
venv
log.json
.envrc
