*.pyc
.settings
.project
.pydevproject
.idea
*.pot
*.mo
.babelcompiled
src/ekklesia_voting.egg-info/
.cache/
.eggs/
src/ekklesia_voting/config.py
src/ekklesia_voting/static/css/voting.css
requirements/pypi2nix_source_deps
requirements/pypi2nix_source_deps_with_hash
requirements/requirements_frozen.txt
requirements/all_deps
requirements/dev_deps
config.yml
.pytest_cache
result
.mypy_cache/
.coverage
htmlcov/
mypy_stubs
