[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
morepath = "*"
"more.transaction" = "*"
"psycopg2" = "*"
pyjade = "*"
sqlalchemy = "*"
"zope.sqlalchemy" = "*"
requests-oauthlib = "*"
"more.forwarded" = "*"
deform = "*"

[dev-packages]
"e1839a8" = {editable = true, path = "."}

[requires]
python_version = "3.7"
